<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Import Task</title>
    <%- include('./includes/head') -%> 
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <%- include('./includes/menu') -%>
                <div class="task-heading"><h1>Import Task</h1></div>
                <div class="card chat-app">
                    <div class="task-outer">                        
                        <div class="form-wrap">
                            <div id="return-msg"></div>
                            <form action="" id="form-import" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="file">Choose File (.xlsx):</label>
                                    <input type="file" class="form-control" name="file" id="file">
                                </div>
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./includes/footer') -%>
</body>
</html>